/* reset */

* {
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Pretendard, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: Pretendard, sans-serif;
}

h1 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: 0;
}

button,
input,
select,
textarea:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

a,
button {
  cursor: pointer;
}

button {
  padding: 0;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

address {
  font-style: normal;
}

/* Global */

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.sm-hidden {
  display: none;
}

.lg-only {
  display: none;
}

.container {
  margin: 0 20px;
}

/* Header */
.global-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
}

.logo {
  margin: 0 auto;
}

.logo img {
  width: 120px;
}

.gnb-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.gnb-nav-item {
  height: 60px;
  padding: 0 30px;
  font-size: 1.188rem;
  font-weight: 600;
}

.gnb-nav-item > a {
  line-height: 60px;
}

.gnb-nav-item:hover > a {
  color: #004eff;
}

.gnb-nav-item:hover .gnb-nav-depth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gnb-nav-depth {
  position: absolute;
  display: none;
  padding: 0 10px;
  background-color: #004eff;
  border-radius: 20px;
}

.gnb-nav-depth.is-05 {
  right: 0;
}

.gnb-nav-depth-item {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 16px;
}

.gnb-nav-depth-item a {
  color: #bdd2ff;
  font-weight: 300;
  font-size: 0.888rem;
}

.gnb-nav-depth-item a:hover {
  color: #fff;
  font-weight: 400;
}

.header-button-group {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
}

.header-button-group a {
  position: relative;
  font-size: 0.813rem;
  color: #666c74;
  font-weight: 600;
  margin-right: 18px;
}

.header-button-group a:hover {
  color: #004eff;
}

.header-button-group a:hover::after {
  display: inline-block;
  position: absolute;
  font-size: 10px;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(0.8);
  transform: translateX(-50%) scale(0.8);
  content: "●";
  color: #004eff;
}

.header-button-group button {
  width: 60px;
  height: 60px;
}

.header-button-group button i {
  font-size: 24px;
}

/* Main */
/* mainVisual */
.main-visual {
  padding-bottom: 16vw;
}

.main-title {
  margin: 30px 0;
  font-size: 1.75rem;
  font-weight: 600;
}

.main-title::after {
  content: "";
  display: inline-block;
  position: relative;
  top: 12px;
  left: 4px;
  width: 36px;
  height: 36px;
  background: url("./assets/img_main_tit_pc.png") no-repeat;
  background-size: contain;
}

.search-box {
  max-width: 552px;
  border-radius: 4.266vw;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 10px -2px rgb(0 0 0 / 27%);
  box-shadow: 5px 5px 10px -2px rgb(0 0 0 / 27%);
  overflow: hidden;
  margin-bottom: 5vw;
}

.tab-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ecf2ff;
}

.tab-button {
  width: 50%;
  font-size: 0.888rem;
  height: 12.5vw;
  max-height: 70px;
  color: rgba(34, 34, 34, 0.8);
  background-color: #ecf2ff;
}

.is-tab {
  color: #222;
  font-weight: 600;
  background-color: #fff;
  border-top-right-radius: 4.266vw;
  border-top-left-radius: 4.266vw;
}

.find-box,
.sell-box {
  display: none;
  padding: 11.875vw 8.125vw 6.25vw;
}

.is-show {
  display: block;
}

.search-title {
  font-size: 5.313vw;
  font-weight: 600;
  text-align: center;
  margin-bottom: 11.875vw;
}

.find-title::before {
  content: "";
  display: inline-block;
  position: relative;
  top: 2px;
  left: -10px;
  width: 5vw;
  height: 5vw;
  background: url("./assets/img_main_box01_mo.png") no-repeat;
  background-size: contain;
}

.sell-title::before {
  content: "";
  display: inline-block;
  position: relative;
  top: 2px;
  left: -10px;
  width: 5vw;
  height: 5vw;
  background: url("./assets/img_main_box02_pc.png") no-repeat;
  background-size: contain;
}

.select-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5.625vw;
}

.form-select {
  position: relative;
  width: 50%;
  height: 10.625vw;
  max-height: 60px;
  background-color: #f5f5f5;
  border-radius: 1.6vw;
}

.form-select:first-child {
  margin-right: 20px;
}

.form-select select {
  width: 100%;
  height: 100%;
  padding-left: 16px;
  padding-right: 20px;
  color: #888;
  font-size: 0.888rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-select i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 16px;
  font-size: 10px;
  color: #c4c8cd;
  pointer-events: none;
}

.sell-form input {
  width: 100%;
  height: 10.625vw;
  max-height: 60px;
  background-color: #f5f5f5;
  padding: 0 16px;
  margin-bottom: 5.625vw;
  border-radius: 1.6vw;
}

.search-button {
  width: 100%;
  height: 12.5vw;
  max-height: 80px;
  color: #fff;
  background-color: #004eff;
  border-radius: 1.6vw;
  font-size: 1rem;
  font-weight: 600;
}

.link-box {
  position: relative;
  height: 42.5vw;
  padding: 6.25vw 0 0 6.875vw;
  border-radius: 4.266vw;
}

.link-box a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.link-box span {
  display: inline-block;
  font-size: 2.933vw;
  padding: 1.2vw 3.2vw;
  border-radius: 2.8vw;
  margin-bottom: 3vw;
}

.link-box h3 {
  font-size: 3.933vw;
  line-height: 6.25vw;
  margin-bottom: 2vw;
  font-weight: 600;
}

.link-box p {
  font-size: 3.2vw;
}

.sell-mycar-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.link-box.buy-mycar {
  background-color: #d9dde2;
  margin-bottom: 5vw;
}
.link-box.sell-mycar-01 {
  width: 50%;
  margin-right: 4.8vw;
  background-color: #ecf2ff;
}
.link-box.sell-mycar-02 {
  width: 50%;
  color: #fff;
  background-color: #3a76ff;
}

.link-box.buy-mycar span {
  background-color: #fff;
  color: #888;
}
.link-box.sell-mycar-01 span {
  background-color: #fff;
  color: #888;
}
.link-box.sell-mycar-02 span {
  background-color: #3164d9;
  color: #fff;
}

.link-box .image-container {
  position: absolute;
}

.buy-mycar .image-container {
  width: 28.125vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 4vw;
}

.sell-mycar-group .link-box .image-container {
  width: 10.625vw;
  right: 4vw;
  bottom: 4vw;
}

.link-box .image-container img {
  width: 100%;
}

/* Event */
.event {
  position: relative;
  background-color: #ecf2ff;
}

.event-item {
  height: 24vw;
}

.event-item a {
  display: block;
  height: 100%;
}

.event-item h3 {
  font-size: 3.467vw;
  line-height: 5.067vw;
  font-weight: 600;
  padding-top: 4vw;
  margin-bottom: 0.667vw;
}

.event-item p {
  font-size: 2.667vw;
}

.event-item a img {
  position: absolute;
  right: 0.8vw;
  width: 50.4vw;
}

.event-item.event01 img {
  bottom: -4.933vw;
}

.event-item.event02 img {
  bottom: -2vw;
}

.event .tns-nav {
  position: absolute;
  bottom: 2vw;
}

.event .tns-nav button {
  width: 1.6vw;
  height: 1.6vw;
  margin-right: 1.6vw;
  background-color: #c4c8cd;
  border-radius: 50%;
}

.event .tns-nav button.tns-nav-active {
  background-color: #666c74;
}

/* Trust */
.trust {
  color: #fff;
  padding: 16.875vw 0 26.666vw;
  background: linear-gradient(145deg, #00b3f1, #004eff, #9560a8);
  background-size: 400% 400%;
  -webkit-animation: TrustBackground 6s alternate ease infinite;
  animation: TrustBackground 6s alternate ease infinite;
}

@-webkit-keyframes TrustBackground {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}
@keyframes TrustBackground {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.trust .title-group {
  position: relative;
}

.section-title {
  font-size: 8vw;
  font-weight: 600;
  margin-bottom: 3.333vw;
}

.section-sub {
  font-size: 3.467vw;
}

.section-title::after {
  content: "";
  display: inline-block;
  position: relative;
  left: 6px;
  width: 2.133vw;
  height: 2.133vw;
  background-color: #004eff;
  border-radius: 50%;
}

.trust .section-title::after {
  background-color: #ff6d6a;
}

.trust-more {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 8vw;
  height: 8vw;
  opacity: 0.6;
}

.trust-more i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 4.933vw;
}

.trust-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 19.333vw;
}

.trust-item {
  width: 33.33333%;
}

.trust-item .image-container {
  margin-bottom: 8vw;
}

.trust-item .image-container img {
  display: block;
  margin: 0 auto;
  width: 16.667vw;
}

.trust-item h3 {
  font-size: 4vw;
  line-height: 6.133vw;
  text-align: center;
}

/* Review */
.review {
  padding: 21.25vw 0 19.375vw;
  background-color: #f2f6ff;
}

.review .section-sub {
  color: #888;
}

.review-list {
  padding: 7.6vw 0;
}

.review-item {
  height: 56.933vw;
  padding: 8vw 6.667vw;
  border-radius: 2vw;
  background-color: #fff;
  opacity: 0.7;
  margin-bottom: 4vw;
  -webkit-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
}

.review-item:hover,
:active {
  opacity: 1;
}

.review-item a {
  display: block;
}

.name-group {
  margin-bottom: 2.267vw;
}

.name-group span {
  display: inline-block;
  color: #888;
  font-size: 3.2vw;
}

.car-name {
  margin-right: 3.2vw;
}

.review-item-title {
  height: 13.867vw;
  font-size: 4.8vw;
  line-height: 6.933vw;
  font-weight: 600;
  color: #222;
  margin-bottom: 2vw;
}

.review-content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 3.467vw;
  color: #555;
  line-height: 6.133vw;
  height: 12.267vw;
  overflow: hidden;
  text-overflow: ellipsis;
}

.review-more {
  position: relative;
}

.review-more-button {
  display: inline-block;
  position: absolute;
  right: 0;
  font-size: 4vw;
  font-weight: 500;
}

.review-more-button i {
  color: #004eff;
}

/* Play */
.play {
  background-color: #f2f6ff;
  padding-bottom: 21.333vw;
}

.play .section-title {
  margin-left: 20px;
}

.play-slider {
  margin-left: -12.8px;
}

.play-box {
  position: relative;
  margin-right: 12.8px;
  border-radius: 20px;
  overflow: hidden;
}

.play-thumbnail {
  display: block;
  width: 100%;
}

.play-box h3 {
  position: absolute;
  top: 6.4vw;
  left: 6.8vw;
  font-size: 4vw;
  color: #fff;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 10.667vw;
  height: 10.667vw;
}

.play-button img {
  width: 100%;
}

/* Issue */
.issue-container {
  margin-left: 20px;
  padding: 21.334vw 0;
}

.issue .title-group {
  margin-bottom: 30px;
}

.issue-item {
  position: relative;
  margin-right: 15px;
  border-radius: 4.267vw;
  overflow: hidden;
}

.issue-item a {
  display: block;
}

.issue-title {
  position: absolute;
  top: 6.534vw;
  left: 6.534vw;
  color: #fff;
  font-size: 4vw;
  line-height: 6.134vw;
  pointer-events: none;
}

.issue-image {
  display: block;
  width: 100%;
  pointer-events: none;
}

.issue .tns-nav {
  display: none;
}

/* Partner */
.partner {
  padding: 16vw 0;
  background-color: #f9f9f9;
}

.partner h2 {
  font-size: 4.8vw;
  font-weight: 600;
  color: #222;
  margin-bottom: 6.933vw;
}

.partner h2 i {
  font-size: 4.2vw;
  margin-left: 2px;
}

.partner a {
  display: block;
}

.partner-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.partner-item {
  display: inline-block;
  width: 42vw;
  height: 16vw;
  margin: 0 3.2vw 3.2vw 0;
}

.partner-item:nth-child(2n) {
  margin-right: 0;
}

.partner-item:last-child,
.partner-item:nth-last-child(2) {
  margin-bottom: 0;
}

.partner-item img {
  width: 100%;
}

.qna-wrap {
  margin-top: 21.333vw;
}

.qna-item {
  margin-bottom: 6.133vw;
}

.qna-item::before {
  content: "Q";
  color: #8e949b;
  font-size: 4vw;
  font-weight: 700;
}

.qna-item a {
  display: inline-block;
  font-size: 4vw;
  font-weight: 500;
  padding-left: 2.6vw;
}

/* Footer */
footer {
  border-top: 1px solid #e6e6e6;
  padding: 8vw 6.4vw 16vw;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 9.867vw;
}

.footer-nav-item {
  width: 33.3%;
  text-align: center;
  margin-bottom: 7.333vw;
}

.footer-nav-item:last-child,
.footer-nav-item:nth-last-child(2) {
  margin-bottom: 0;
}

.footer-nav-item:first-child a {
  color: #004eff;
}

.footer-nav-item a {
  font-size: 3.2vw;
  font-weight: 600;
}

.footer-detail-item {
  font-size: 3.2vw;
  margin-bottom: 1.25vw;
  color: #555;
}

.footer-detail-item:first-child,
.footer-detail-item:nth-child(2) {
  display: inline-block;
}

.footer-detail-item dt,
.footer-detail-item dd {
  display: inline-block;
  line-height: 1;
}

.footer-detail-item dt::after {
  content: ":";
}

.copyright {
  color: #888;
  font-size: 3.2vw;
}

.contact {
  background-color: #f9f9f9;
  margin: 7.2vw 0;
  padding: 6.667vw 0;
  text-align: center;
}

.contact h3 {
  color: #004eff;
  font-size: 5.067vw;
  font-weight: 600;
  margin-bottom: 2.667vw;
}

.time {
  font-size: 2.933vw;
  color: #555;
}

.certification {
  width: 100%;
  margin-bottom: 5.2vw;
}

.certification img {
  width: 100%;
}

.patent {
  border-top: 1px solid #f5f5f5;
  padding-top: 5.333vw;
}

.patent span {
  display: block;
  width: 53.733vw;
  margin: 0 auto;
}

.patent span img {
  width: 100%;
}

/* smSidebar */
.sm-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1000;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.sm-sidebar.is-active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.sm-sidebar header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 16.267vw;
  padding: 0 6vw 0 8vw;
  border-bottom: 1px solid #f5f5f5;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #555;
  font-size: 3.467vw;
  line-height: 6vw;
  font-weight: 500;
}

.login i {
  display: inline-block;
  font-size: 6vw;
  margin-right: 6px;
}

.sidebar-icon i {
  font-size: 6vw;
  color: #222;
}

.sidebar-icon a {
  display: inline-block;
  margin-right: 2.8vw;
}

.sm-sidebar nav {
  height: calc(100% - 16.267vw);
}

.side-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 37.333vw;
  padding: 10.667vw 0;
  padding-left: 8vw;
  background-color: #004eff;
}

.menu-nav-button {
  display: block;
  color: #fff;
  font-size: 5.067vw;
  font-weight: 600;
  margin-bottom: 13.333vw;
  opacity: 0.7;
}

.menu-nav-button.is-active {
  opacity: 1;
}

.menu-nav-button.is-active::after {
  content: "";
  display: inline-block;
  width: 1.6vw;
  height: 3.2vw;
  background: url(./assets/img_sideOn_mo.png) no-repeat;
  background-size: contain;
  margin-left: 1.875vw;
}

.etc-link a {
  display: block;
  font-size: 4.267vw;
  color: #e6eeff;
  line-height: 5.6vw;
}

.etc-link a:first-child {
  margin-bottom: 8vw;
}

.sm-sidebar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.side-right {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 10.667vw 6.4vw 33.333vw;
  height: 100%;
  overflow-y: scroll;
}

.side-menu-wrap {
  margin-bottom: 14vw;
}

.side-menu-title {
  color: #8e949b;
  font-size: 4vw;
  font-weight: 700;
  border-bottom: 1px solid #c4c8cd;
  padding: 2.667vw 0;
  margin-bottom: 6.4vw;
}

.side-menu-item {
  margin-bottom: 8vw;
}

.side-menu-item a {
  font-size: 4.8vw;
  font-weight: 500;
  color: #222;
}

.no-scroll {
  height: 100%;
  overflow-y: hidden;
}

/* Bottom Menu */
.bottom-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.bottom-menu.is-hidden {
  display: none;
}

.bottom-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 16vw;
  background-color: #fff;
  border-top-right-radius: 4.267vw;
  border-top-left-radius: 4.267vw;
  -webkit-box-shadow: 1px -4px 21px 1px rgba(0, 0, 0, 0.26);
  box-shadow: 1px -4px 21px 1px rgba(0, 0, 0, 0.26);
}
.bottom-menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.bottom-menu-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.bottom-menu-item a img {
  display: inline-block;
  width: 9.06667vw;
  margin-bottom: 0.667vw;
}

.bottom-menu-item a span {
  color: #555;
  font-size: 2.667vw;
  font-weight: 600;
}

/* -- login -- */
.login-tab-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.login-tab-wrap a {
  width: 50%;
  display: block;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.login-tab-wrap a:first-child {
  font-weight: 700;
  background-color: #eee;
}

.login-tab-wrap a:last-child {
  color: #999;
}
.login-form-wrap {
  padding: 0 20px;
}

.login-form-wrap input {
  width: 100%;
  height: 30px;
  border: 1px solid #d3dae1;
  margin-bottom: 10px;
}

.login-form-wrap label {
  font-size: 14px;
}

.login-form-wrap label input {
  width: 12px;
  height: 12px;
}

.login-find {
  font-size: 12px;
  margin-left: 4px;
}

.login-form-wrap button {
  width: 100%;
  padding: 10px 15px;
  color: #fff;
  background-color: #2d78bc;
  border: 1px solid #20629f;
  margin-top: 10px;
}

.login-bottom-wrap {
  color: #2c77bb;
  font-size: 14px;
  margin: 30px 0;
  padding: 0 20px;
}

.login-bottom-wrap p::before {
  content: "ㆍ";
  display: inline-block;
}

.login-bottom-wrap p {
  margin-bottom: 7px;
}

/*------------ tablet ------------*/

@media screen and (min-width: 750px) {
  .sm-only {
    display: none;
  }

  .sm-hidden {
    display: block;
  }

  .event-item h3 br {
    display: none !important;
  }

  .global-header {
    padding: 30px 0;
  }

  .logo img {
    width: 160px;
  }

  .header-button-group {
    right: 26px;
  }

  .header-button-group button i {
    margin-top: 2px;
    font-size: 32px;
    color: #000;
  }

  /* mainVisual */
  .main-visual {
    padding-bottom: 112px;
  }

  .main-title::after {
    content: "";
    display: inline-block;
    position: relative;
    top: 16px;
    left: 4px;
    width: 56px;
    height: 56px;
    background: url("./assets/img_main_tit_pc.png") no-repeat;
    background-size: contain;
  }

  .search-box {
    border-radius: 20px;
  }

  .tab-button {
    height: 70px;
  }

  .is-tab {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  .find-box,
  .sell-box {
    padding: 90px 50px 60px;
  }

  .search-title {
    font-size: 2.125rem;
    margin-bottom: 75px;
  }

  .find-title::before,
  .sell-title::before {
    top: 4px;
    left: -12px;
    width: 32px;
    height: 32px;
  }

  .select-group {
    margin-bottom: 30px;
  }

  .form-select {
    height: 60px;
    border-radius: 12px;
  }

  .form-select select {
    padding-left: 28px;
    padding-right: 32px;
  }

  .form-select i {
    right: 20px;
    font-size: 20px;
  }

  .sell-form input {
    font-size: 1.125rem;
    border-radius: 12px;
    margin-bottom: 30px;
  }

  .search-button {
    font-size: 1.25rem;
    border-radius: 12px;
  }

  .link-group {
    width: 552px;
  }

  .link-box {
    height: 230px;
    padding: 30px 40px;
    border-radius: 20px;
  }

  .link-box span {
    height: 30px;
    line-height: 30px;
    font-size: 0.938rem;
    padding: 0 15px;
    border-radius: 15px;
    margin-bottom: 15px;
  }

  .link-box h3 {
    font-size: 1.375rem;
    line-height: 2.125rem;
    margin-bottom: 15px;
  }

  .link-box p {
    font-size: 1.125rem;
  }

  .link-box.buy-mycar {
    margin-bottom: 36px;
  }
  .link-box.sell-mycar-01 {
    margin-right: 36px;
  }

  .buy-mycar .image-container {
    width: auto;
    right: 30px;
  }

  .sell-mycar-group .link-box .image-container {
    width: auto;
    right: 22px;
    bottom: 22px;
  }

  /* Event */
  .event-item {
    height: 128px;
  }

  .event-item h3 {
    font-size: 1.5rem;
    line-height: 1;
    padding-top: 42px;
    margin-bottom: 15px;
  }

  .event-item p {
    font-size: 1rem;
  }

  .event-item a img {
    width: auto;
    right: 50px;
  }

  .event-item.event01 img {
    top: -34px;
  }

  .event-item.event02 img {
    top: -10px;
  }

  .event .tns-nav {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 20px;
  }

  .event .tns-nav button {
    width: 10px;
    height: 10px;
    margin-right: 8px;
  }

  /* Trust */
  .trust {
    padding: 160px 0;
  }

  .section-title {
    font-size: 3rem;
    margin-bottom: 30px;
  }

  .section-sub {
    font-size: 1.25rem;
  }

  .section-title::after {
    left: 8px;
    width: 12px;
    height: 12px;
  }

  .trust-more {
    width: 60px;
    height: 60px;
  }

  .trust-more i {
    font-size: 42px;
  }

  .trust-list {
    margin-top: 52px;
  }

  .trust-item {
    padding: 62px 0;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }

  .trust-item:last-child {
    border-right: none;
  }

  .trust-item .image-container {
    margin-bottom: 85px;
  }

  .trust-item .image-container img {
    width: auto;
  }

  .trust-item h3 {
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 30px;
  }

  .trust-item h3 br {
    display: none;
  }

  .trust-desc {
    font-size: 1.125rem;
    text-align: center;
    line-height: 30px;
  }

  /* Review */
  .review {
    position: relative;
    padding: 160px 0;
  }

  .review-list {
    position: relative;
    padding: 56px 0;
    min-height: 1580px;
    z-index: 100;
  }

  .review-item {
    width: 552px;
    height: 280px;
    padding: 48px;
    border-radius: 15px;
    margin-bottom: 36px;
  }

  .review-item:nth-child(2n - 1) {
    float: left;
  }

  .review-item:nth-child(2n) {
    float: right;
  }

  .name-group {
    margin-bottom: 20px;
  }

  .name-group span {
    font-size: 1rem;
  }

  .car-name {
    margin-right: 11px;
  }

  .review-item-title {
    height: auto;
    font-size: 1.5rem;
    line-height: 24px;
    margin-bottom: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .review-content {
    font-size: 1.125rem;
    line-height: 30px;
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .review-more-button {
    right: 0;
    font-size: 1.125rem;
  }

  .background-txt {
    position: absolute;
    top: 60px;
    right: 0;
    pointer-events: none;
  }

  .background-txt li {
    font-size: 124px;
    line-height: 1;
    color: #002d72;
    opacity: 0.08;
    font-weight: 300;
    text-align: right;
    margin-bottom: 70px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Play */
  .play {
    padding-bottom: 142px;
  }

  .play .section-title {
    margin-left: 0;
    text-align: center;
  }

  .play-slider {
    margin-left: -30px;
  }

  .play-box {
    margin-right: 30px;
  }

  .play-box h3 {
    top: 40px;
    left: 40px;
    font-size: 1.5rem;
  }

  .play-button {
    width: 64px;
    height: 64px;
  }

  .play-button img {
    width: 100%;
  }

  /* Issue */
  .issue {
    overflow: hidden;
  }

  .issue-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 160px 0;
  }

  .issue .title-group {
    -ms-flex-preferred-size: 335px;
    flex-basis: 335px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-bottom: 0;
  }

  .issue-item {
    margin-right: 36px;
    border-radius: 20px;
  }

  .issue-title {
    top: 48px;
    left: 48px;
    font-size: 1.5rem;
    line-height: 36px;
  }

  /* Partner */
  .partner {
    padding-top: 160px;
    padding-bottom: 118px;
  }

  .partner h2 {
    font-size: 1.875rem;
    margin-bottom: 40px;
  }

  .partner h2 i {
    font-size: 1.75rem;
  }

  .partner-list {
    width: 610px;
  }

  .partner-item {
    width: 300px;
    height: 80px;
    margin: 0 10px 10px 0;
  }

  .qna-wrap {
    margin-top: 62px;
  }

  .qna-item {
    margin-bottom: 32px;
  }

  .qna-item::before {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .qna-item a {
    font-size: 1.25rem;
    padding-left: 10px;
    font-weight: 400;
  }

  /* Footer */
  footer {
    padding: 50px 80px 80px;
  }

  .footer-nav {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 54px;
  }

  .footer-nav-item {
    width: auto;
    margin-bottom: 0;
  }

  .footer-nav-item a {
    font-size: 1.125rem;
  }

  .footer-detail-item {
    font-size: 1.125rem;
    margin-bottom: 0;
  }

  .footer-detail-item dt,
  .footer-detail-item dd {
    line-height: 1.75rem;
  }

  .copyright {
    font-size: 1rem;
    line-height: 1.75rem;
  }

  .contact {
    width: 80%;
    margin: 50px 0;
    padding: 52px 0;
  }

  .contact h3 {
    font-size: 2.125rem;
    margin-bottom: 22px;
  }

  .time {
    font-size: 1.125rem;
  }

  .certification {
    width: 80%;
    margin-bottom: 42px;
  }

  .certification img {
    width: 100%;
  }

  .patent {
    border-top: 1px solid #f5f5f5;
    padding-top: 42px;
  }

  .patent span {
    width: 400px;
    margin: 0;
  }

  /* Sidebar */
  .md-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition: -webkit-transform 400ms ease-in-out;
    transition: -webkit-transform 400ms ease-in-out;
    transition: transform 400ms ease-in-out;
    transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
  }

  .md-sidebar.is-active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .md-sidebar-exit-button {
    position: absolute;
    top: 20px;
    right: 70px;
    display: inline-block;
    width: 64px;
    height: 64px;
  }

  .md-sidebar-exit-button i {
    color: #fff;
    font-size: 32px;
  }

  .md-sidebar nav {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .md-sidebar-list {
    width: 20%;
    padding-top: 320px;
    background-color: #004eff;
    border-right: 1px solid #326cf5;
    -webkit-transition: background-color 300ms ease-in;
    transition: background-color 300ms ease-in;
  }

  .md-sidebar-list:last-child {
    border-right: none;
  }

  .md-sidebar-list li {
    color: #fff;
    text-align: center;
  }

  .md-sidebar-title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 54px;
  }

  .md-sidebar-item {
    font-size: 22px;
    margin-bottom: 38px;
    font-weight: 500;
  }

  .md-sidebar-item a {
    display: inline-block;
    position: relative;
  }

  .md-sidebar-list:hover {
    background-color: #fff;
  }

  .md-sidebar-list:hover .md-sidebar-title {
    color: #004eff;
  }
  .md-sidebar-list:hover .md-sidebar-item {
    color: #000;
    opacity: 0.3;
  }

  .md-sidebar-list:hover .md-sidebar-item:hover {
    -webkit-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
    opacity: 1;
  }

  .md-sidebar-list:hover .md-sidebar-item:hover a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -15px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #004eff;
    border-radius: 50%;
  }

  /* -- login -- */
  .login-title-warp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin: 55px 0 20px;
  }

  .login-title {
    font-size: 38px;
    color: #222;
  }

  .page a {
    position: relative;
    display: inline-block;
    color: #888;
    font-size: 14px;
  }

  .page a:not(:last-child) {
    margin-right: 9px;
  }

  .page a:not(:last-child)::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    right: -8px;
    width: 3px;
    height: 3px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: #ccc;
  }

  .page a:last-child {
    color: #222;
  }

  .login-desc {
    color: #888;
    margin-bottom: 55px;
  }

  .login-wrap {
    max-width: 900px;
  }

  .login-tab-wrap {
    width: 45%;
    margin-bottom: 0;
  }

  .login-tab-wrap a {
    font-size: 18px;
    border-top: none;
    border-bottom: none;
  }

  .login-tab-wrap a:first-child {
    background-color: #607e9b;
    color: #fff;
    border: 1px solid #607e9b;
  }

  .login-tab-wrap a:last-child {
    color: #777;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }

  .login-tab-wrap a:last-child:hover {
    background-color: #607e9b;
    color: #fff;
    border: 1px solid #607e9b;
  }
  .login-form-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px 0;
    border-top: 1px solid #607e9b;
  }

  .login-form-wrap form {
    width: 52%;
    padding: 0 20px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }

  .id-input,
  .pw-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .id-input span,
  .pw-input span {
    display: block;
    width: 80px;
    font-size: 18px;
    color: #555;
    font-weight: 600;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }

  .login-form-wrap input {
    display: inline-block;
    margin-bottom: 0;
  }

  .login-form-wrap label {
    font-size: 14px;
    padding-left: 80px;
  }

  .login-form-wrap label input {
    width: 12px;
    height: 12px;
  }

  .login-find {
    font-size: 12px;
    margin-left: 4px;
  }

  .login-form-wrap button {
    width: 80px;
    margin-left: 80px;
  }

  .ad-box {
    padding: 0 20px;
    border-left: 1px solid #ddd;
  }

  .ad-box img {
    width: 100%;
  }

  .login-bottom-wrap {
    font-size: 18px;
    border-top: 1px solid #ddd;
    padding: 25px 20px 0;
    color: #65839f;
  }

  .login-bottom-wrap h3 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .login-bottom-wrap h3 i {
    display: inline-block;
    font-size: 12px;
    margin-right: 6px;
  }
}

/*------------ desktop ------------*/
@media screen and (min-width: 1200px) {
  .lg-only {
    display: block;
  }
  .lg-hidden {
    display: none;
  }

  .container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
  }

  .global-header {
    padding-left: 60px;
    padding-right: 60px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
  }

  .global-header.is-transparent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: none;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 200;
  }

  .logo {
    margin: 0;
  }

  .header-button-group {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: none;
    transform: none;
  }

  /* mainVisual */

  .main-title {
    margin: 94px 0 56px;
  }

  .main-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .search-box {
    width: 552px;
    margin-right: 36px;
  }

  /* Review */
  .review-list {
    min-height: 950px;
  }

  .review-item:nth-child(2) {
    margin-top: 140px;
  }

  /* Play */

  .play-slider {
    margin-left: -100px;
  }

  .play-box {
    margin-right: 100px;
  }

  /* Issue */
  .issue-container {
    max-width: 1140px;
    margin: 0 auto;
  }

  /* Partner */
  .partner .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .qna-wrap {
    margin-top: 0;
    margin-left: 76px;
  }

  /* Footer */
  footer {
    position: relative;
  }

  .footer-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .footer-nav {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }

  .footer-nav-item {
    margin-right: 40px;
  }

  .footer-detail-list {
    width: 620px;
  }

  .footer-detail-item {
    display: inline-block;
  }

  .footer-detail-item::after {
    content: "|";
    display: inline-block;
    margin: 0 4px;
    font-size: 1rem;
    color: #e6e6e6;
  }

  .footer-detail-item:last-child::after {
    content: "";
  }

  .contact-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .contact {
    background-color: #fff;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  .contact-title {
    display: block;
    font-size: 1.125rem;
  }

  .contact h3 {
    margin-bottom: 4px;
  }

  .time {
    font-size: 0.875rem;
  }

  .certification {
    width: 314px;
    margin-top: 95px;
    margin-bottom: 0;
  }

  .certification img {
    width: 100%;
  }

  .patent {
    position: absolute;
    bottom: 70px;
    border-top: none;
    padding-top: 0;
  }

  .patent span {
    width: 331px;
  }

  /* sidebar */
  .md-sidebar-list {
    padding-top: 280px;
  }

  .md-sidebar-title {
    font-size: 60px;
    margin-bottom: 60px;
  }

  .md-sidebar-item {
    font-size: 26px;
    margin-bottom: 48px;
  }

  /* login */
  .login-wrap {
    max-width: none;
  }
  .login-form-wrap form {
    width: 45%;
  }
}
